################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fontes-sistema/syshealth-app/bin/Debug/netcoreapp3.1
