<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Agendar exame médico</h4>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="pesquisar($event)">
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Tipo exame</mat-label>
                                        <select matNativeControl name="selFiltroTipoExame">
                                            <option>Selecione</option>
                                            <option *ngFor="let item of dadosTela.listaTiposExames" [value]="item.codigo">{{item.descricao}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input name="txtData" matInput placeholder="Data" type="date">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <button mat-raised-button type="submit" class="btn btn-danger pull-left">Pesquisar</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Código Tipo Exame
                                </th>
                                <th>
                                    Data
                                </th>
                                <th>
                                    Horários Disponíveis
                                </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of this.dadosTela.listaOpcoesExame">
                                        <td>
                                            {{item.codigoTipoExame}}
                                        </td>
                                        <td>
                                            {{item.data | date:'dd/MM/yyyy'}}
                                        </td>
                                        <td>
                                            <mat-form-field appearance="fill">
                                                <mat-label>Horários</mat-label>
                                                <select matNativeControl name="selHorarioDisponivel">
                                                    <option>Selecione</option>
                                                    <option *ngFor="let horarioItem of item.horarios" [value]="horarioItem.codigo">{{horarioItem.horaInicial}} - {{horarioItem.horaFinal}}</option>
                                                </select>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm" title="Marcar Consulta" (click)="marcarExame($event, item)">
                                                <i class="fa fa-check fa-5x" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
