<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Agendar exame médico</h4>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="pesquisar($event)">
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Tipo exame</mat-label>
                                        <select matNativeControl name="selFiltroTipoExame">
                                            <option>Selecione</option>
                                            <option *ngFor="let item of dadosTela.listaTiposExames" [value]="item.codigo">{{item.descricao}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input name="txtData" matInput placeholder="Data" type="date">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <button mat-raised-button type="submit" class="btn btn-primary pull-left">Pesquisar</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>

                        <!--<mat-table [dataSource]="this.dadosTela.listaOpcoesExame">
                            <ng-container matColumnDef="codigoTipoExame">
                                <mat-header-cell *matHeaderCellDef> Código Tipo Exame </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.codigoTipoExame}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="data">
                                <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.data | date:'dd/MM/yyyy'}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="title">
                                <mat-header-cell *matHeaderCellDef> Horários Disponíveis </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{1}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="horarios">
                                <mat-header-cell *matHeaderCellDef> Horários Disponíveis </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Horários</mat-label>
                                        <select matNativeControl name="selHorarioDisponivel">
                                            <option>Selecione</option>
                                            <option *ngFor="let horarioItem of row.horarios" [value]="horarioItem.codigo">{{horarioItem.horaInicial}} - {{horarioItem.horaFinal}}</option>
                                        </select>
                                    </mat-form-field>
                                    <a href="javascript:void(0)" title="Marcar Consulta" (click)="marcarExame($event, item)">
                                        <i class="material-icons" style="color:black" aria-hidden="true">event</i>
                                    </a>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="['codigoTipoExame', 'data', 'horarios']"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: ['codigoTipoExame', 'data', 'horarios']"></mat-row>
                        </mat-table>-->

                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Código Tipo Exame
                                </th>
                                <th>
                                    Data
                                </th>
                                <th>
                                    Horários Disponíveis
                                </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of this.dadosTela.listaOpcoesExame">
                                        <td>
                                            {{item.codigoTipoExame}}
                                        </td>
                                        <td>
                                            {{item.data | date:'dd/MM/yyyy'}}
                                        </td>
                                        <td>
                                            <mat-form-field appearance="fill">
                                                <mat-label>Horários</mat-label>
                                                <select matNativeControl name="selHorarioDisponivel">
                                                    <option>Selecione</option>
                                                    <option *ngFor="let horarioItem of item.horarios" [value]="horarioItem.codigo">{{horarioItem.horaInicial}} - {{horarioItem.horaFinal}}</option>
                                                </select>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" title="Marcar Exame" (click)="marcarExame($event, item)">
                                                <i class="material-icons" style="color:black" aria-hidden="true">event</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
