<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Leitos</h4>
                    <p class="card-category">Central de leitos</p>
                </div>
                <div class="card-body">
                    <form>                                                
                        <button mat-raised-button type="button" (click)="load()" class="btn btn-primary pull-left">Load</button>                        
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>         
        </div>
    </div>
</div>
  